.img-dummy {
  width: auto;
  height: 224px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  position: absolute;
  top: 12px;
}

.margin-top {
  margin-top: 40px;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}